/* ########################### Start Home ################################ */
@font-face {
  font-family: Comfortaa;
  src: url(./admin_assets/assets/fonts/Comfortaa/Comfortaa-Bold.ttf);
  src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
  src: url(../fonts/Comfortaa/Comfortaa-Light.ttf);
}
:root {
  --blue: #3166AD;
  --gray: #98A5B7;
  --box-shadow: 0 0 0 0.09rem rgb(216 217 219 / 50%);
}

body {
  font-family: "Comfortaa" !important;

}

/* start navbar */

.navbar {
  box-shadow: 1px 1px 8px -6px #1a6bb4;
  z-index: 55;
  height: 64px;
}

.navbar-brand img {
  width: 50px;
}

.navbar-toggler i {
  color: #2c5f9e;
}

.navbar-light .navbar-nav .nav-link {
  color: #2c5f9e;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #2c5f9e;
}

.nav-item {
  position: relative;
}

.nav-item span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #faa31a;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.nav-item:hover span {
  width: 100%;
}

.dropdown-menu {
  padding: 8px 0;
}

.dropdown-menu .dropdown-item {
  color: #2c5f9e;
  font-weight: 500px !important;
  position: relative;
  padding: 9px 0px;
  background-color: transparent;
}

.dropdown-menu .dropdown-item span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #faa31a;
  transition: 0.4s;
  -webkit-transition: 0.4;
  -moz-transition: 0.4;
  -ms-transition: 0.4;
  -o-transition: 0.4;
}

.dropdown-menu .dropdown-item:hover span {
  width: 100%;
}

.dropdown-menu {
  width: 220px !important;
}

.dropdown-item-list {
  position: relative;
  margin: 0 25px;
}

.dropdown-item-list .dropdown-item-ul {
  position: absolute;
  list-style: none;
  box-shadow: 1px 1px 8px -6px #1a6bb4;
  left: 70%;
  top: 10px;
  padding-left: 0;
  border-radius: 11px;
  background: #fff;
  width: 0px;
  overflow: hidden;
  padding: 10px 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.dropdown-item-list .dropdown-item-ul li {
  padding: 8px 15px;
}

.dropdown-item-list .dropdown-item-ul li:hover {
  background-color: #faa31a;
}

.dropdown-item-list .dropdown-item-ul:hover+a {
  color: #faa31a !important;
}

.dropdown-item-list .dropdown-item-ul li:hover a {
  color: #fff;
}

.dropdown-item-list .dropdown-item-ul li a {
  color: #2c5f9e;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  height: 100%;
}

.dropdown-item-list:hover>ul {
  width: 220px;
  left: 90%;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #2c5f9e !important;
}

.iconUserShp span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #2c5f9e;
  text-align: center;
  line-height: 33px;
  margin: 0px 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.iconUserShp span:hover {
  background-color: #2c5f9e;
}

.iconUserShp span i {
  color: #2c5f9e;
}

.iconUserShp span:hover i {
  color: #fff;
}

.iconUserShp a {
  text-decoration: none;
  color: #faa31a;
  margin: 0 8px;
  font-weight: 500;
}

.fix {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  background-color: #fff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

@media (max-width: 1000px) {
  .navbar {
    background-color: #fff;
  }

  .iconUserShp {
    padding: 10px 0;
  }
}

/* end navbar */
.header {
  height: 75vh;
  width: 100%;
  background-image: url("https://cdn.nearpod.com/1656969462584/page/teach/img/1920-hero.png");
  background-size: cover;
  position: relative;
}

.headerText {
  position: absolute;
  left: 40%;
  top: 45%;
  transform: translate(-50%, -20%);
  -webkit-transform: translate(-50%, -20%);
  -moz-transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  -o-transform: translate(-50%, -20%);
  width: 35%;
}

.headerText h6 {
  font-size: 25px;
  color: #2c5f9e;
  margin-bottom: 25px;
}

.headerText p {
  color: #888;
  font-size: 17px;
  width: 60%;
  margin-bottom: 30px;
  line-height: 30px;
}

.headerText .btn-primary {
  background-color: #2c5f9e !important;
  border: 1px solid #2c5f9e !important;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.headerText .btn-primary:hover {
  background-color: #faa31a !important;
  border: 1px solid #faa31a !important;
}

.sectionVedio {
  width: 100%;
  position: relative;
}

.overLay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000080;
  width: 100%;
  height: 100%;
}

.sectionVedio video {
  max-width: 100%;
}

.sectionVediotext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
}

.sectionVediotext h6 {
  font-size: 26px;
  color: #fff;
  margin-bottom: 34px;
}

.sectionVediotext img {
  width: 70px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.sectionVediotext img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.section1 {
  padding: 100px;
}

.section1 h6 {
  font-size: 26px;
  color: #2c5f9e;
  margin-bottom: 41px;
}

.section1 img {
  width: 100%;
}

.section1 ul li {
  color: #888;
  line-height: 37px;
}

.section1 .one div {
  display: flex;
}

.section1 .one li {
  color: #888;
  line-height: 33px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: 25px;
  position: relative;
}

.section1 .one li::after {
  content: "";
  background-color: #2c5f9e;
  top: 13px;
  left: -21px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}

.section2 {
  background-color: #2c5f9e;
  padding: 50px 20px;
}

.section2 h6 {
  color: #fff;
  font-size: 20px;
  width: 86%;
  line-height: 36px;
  font-size: 22px;
}

.section2 h6:last-of-type {
  text-align: right;
  width: 100%;
  font-size: 18px;
}

.modal-dialog {
  top: 25%;
}

.modal-dialog iframe {
  width: 100%;
}

.modal-content {
  border: 0 !important;
}

.modal-body {
  padding: 0 !important;
}

.modal-content {
  background-color: transparent;
}

@media (max-width: 1000px) {
  .headerText {
    width: 50% !important;
  }

  .headerText p {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .headerText {
    width: 60% !important;
  }

  .headerText p {
    width: 100%;
  }
}

/* start footer */
.footertop {
  border-bottom: 2px solid #888;
  padding-bottom: 30px;
  border-top: 1px solid #888;
  padding-top: 51px;
}

.footerBut {
  padding: 25px 0;
}

.footerBut h6 {
  color: #888;
  margin-top: 7px;
  margin-bottom: 20px;
}

.footerBut .social {
  display: flex;
}

.footerBut .social li a {
  background: transparent;
  margin: 0px 6px;
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  border: 1px solid #888;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  padding-bottom: 7px;
}

.footerBut .social li a i {
  color: #34434b;
  font-size: 17px;
}

.footerBut .social li:hover a i {
  color: #fff;
}

.footerBut .social li:nth-of-type(1):hover a {
  background: #1877f2;
}

.footerBut .social li:nth-of-type(2):hover a {
  background: #1da1f2;
}

.footerBut .social li:nth-of-type(3):hover a {
  background: #cd201f;
}

.footerBut .social li:nth-of-type(4):hover a {
  background: #e4405f;
}

.footerLocation {
  margin-left: 22px;
}

.footerLocation span {
  display: inline-block;
  height: 32px;
  width: 2px;
  background: #888;
  margin-right: 17px;
}

.footerLocation i {
  font-size: 25px;
  color: #34434b;
}

.footerLocation .dropdown-toggle::after {
  display: none;
}

.footerLocation a {
  margin-top: -6px;
  font-size: 18px;
  color: #888;
}

.social1 p {
  color: #888;
}

.social1 ul li {
  height: 29px;
  width: 32px;
  text-align: center;
  margin: 0px 10px;
  overflow: hidden;
}

.social1 {
  display: flex;
}

.footerBut1 {
  background-color: #fbfcfd;
  padding: 10px;
}

.footerBut1 img {
  width: 25%;
}

.footerBut12 {
  justify-content: right;
  align-items: center;
  height: 100%;
}

.footerBut12 li a {
  color: #1667b2;
  text-decoration: none;
  padding: 0px 20px;
}

.footerBut12 span {
  display: inline-block;
  width: 2px;
  height: 20px;
  background: #1667b2;
}

.social1 {
  justify-content: right;
}

.list--item {
  margin-bottom: 8px;
}

.list--item a,
.list--item a:hover {
  color: #888;
  text-decoration: none;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
}

.list--header {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
  color: #1667b2;
}

@media (max-width: 950px) {
  .footerLocation1 {
    justify-content: center;
  }

  .footerBut .social {
    display: block;
    text-align: center;
    justify-content: center;
  }

  .social1 {
    display: block;
    text-align: center;
  }

  .social2 {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .footerBut11 {
    text-align: center;
  }

  .footerBut12 {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .find {
    width: 100%;
  }
}

/* end footer */

/* ########################### end Home ################################ */

/* ########################### Start Become A Teacher ################################ */
.Become .formTe {
  background-color: #f8f8f8;
  padding: 40px;
}

.Become .formTe h4 {
  color: #2668a7;
  margin-bottom: 20px;
}

.Become .formTe h4 span {
  color: #f6a233;
}

.Become .form-control {
  border: 1px solid transparent !important;
  padding: 22px 16px !important;
  margin-bottom: 18px;
}

.Become .lessonBtn .btn {
  color: #2668a7;
}

.custom-file {
  height: 46px !important;
  margin-bottom: 10px !important;
}

.custom-file input {
  height: 100%;
}

.custom-file label {
  height: 100%;
  border: 1px solid transparent !important;
  padding-top: 10px;
  color: #888;
}

.custom-file-label::after {
  display: none;
}

.Become .form-control::placeholder {
  color: #888;
}

.Become .form-control:focus {
  border: 1px solid #f6a233 !important;
  box-shadow: 0 0 0 0 transparent !important;
}

.Become .card {
  border: 1px solid transparent;
  background-color: transparent;
}


.Become .collapse {
  width: 300px;
  background: #fff;
  border-radius: 9px;
  margin-bottom: 10px;
  position: relative;
  margin-top: -10px;
  padding: 8px 0;
}

.Become .collapse .arow10 {
  position: absolute;
  left: 58px;
  top: -30px;
  width: 30px;
  height: 30px;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #fff;
  border-right: 15px solid transparent;
}

.Become .card-body {
  padding: 10px 35px !important;
  cursor: pointer;
  position: relative;
  color: #888;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.Become .card-body:hover {
  background-color: #2668a7;
  color: #fff;
}

.Become .card-body span {
  background-color: #f6a233;
  position: absolute;
  top: 19px;
  left: 16px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.Become .btn-link {
  background-color: #fff !important;
  text-decoration: none;
  color: #888;
  padding: 10px 16px;
  height: 46px;
}

.Become .btn-link:focus {
  border: 1px solid #f6a233 !important;
}

.Become .btn-link:hover,
.Become .btn-link:focus {
  color: #888;
  text-decoration: none;
}

.Become .card-header {
  padding: 0 !important;
  background-color: transparent !important;
  margin-bottom: 30px !important;
  border-bottom: 1px solid transparent !important;
}

.Become .card-header:focus {
  border: 1px solid #f00 !important;
}

.Become .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}

.Become .form10 {
  background-color: #2668a7;
  border: 2px solid #2668a7;
  color: #fff;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.Become .form10:hover {
  background-color: #f6a233;
  border: 2px solid #f6a233;
}

/* ########################### end Become A Teacher ################################ */

/* ########################### start Login and Reg ################################ */
.login,
.reg {
  width: 35%;
  margin: 5% auto;
  box-shadow: 1px 1px 8px -6px #1a6bb4;
  padding: 60px 25px;
}

.reg {
  width: 45%;
}

.login .logoLogin,
.reg .logoReg {
  width: 100%;
  text-align: center;
  margin: 10px 0 40px;
}

.login .logoLogin img,
.reg .logoReg img {
  width: 55%;
}

.login label,
.reg label {
  color: #6c757d !important;
  margin-bottom: 15px;
}

.form-control {
  margin-bottom: 10px !important;
}

.form-control:focus,
.form-control:focus {
  color: #6c757d !important;
  background-color: #fff;
  /* border-color: rgb(246, 162, 51) !important; */
  outline: 0;
  box-shadow: 0 0 0 0rem #1a6cb45f !important;
}

.btn-primary,
.btn-primary {
  background-color: #1a6bb4 !important;
  border-color: #1a6bb4 !important;
}

.btn-primary:hover,
.btn-primary:hover {
  opacity: .7;
}


.login .btn-primary:not(:disabled):not(.disabled).active:focus,
.login .btn-primary:not(:disabled):not(.disabled):active:focus,
.login .show>.btn-primary.dropdown-toggle:focus,
.reg .btn-primary:not(:disabled):not(.disabled).active:focus,
.reg .btn-primary:not(:disabled):not(.disabled):active:focus,
.reg .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(246, 162, 51) !important;
}

.reg .choosePhotoclick {
  cursor: pointer;
}

.reg .choosePhotoContent {
  background-color: #fff;
  padding: 30px;
}

.choosePhotoContent img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px 0;
  cursor: pointer;
}

.modal.show .modal-dialog {
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal-open .modal {
  padding: 10px !important;
}

#CheckGrade {
  opacity: 0;
  position: relative;
  top: -8px;
  left: -2px;
  color: #2c5f9e;
}

.activeGrade #CheckGrade {
  opacity: 1 !important;
}

.activeGrade:hover #CheckGrade {
  color: #fff;
}

.activeGrade span {
  background-color: transparent !important;
}

@media (max-width: 1000px) {

  .login,
  .reg {
    width: 65%;
  }
}

@media (max-width: 650px) {

  .login,
  .reg {
    width: 70%;
  }
}

@media (max-width: 500px) {

  .login,
  .reg {
    width: 95%;
  }

  .reg .col-2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

/* ########################### end Become A Teacher ################################ */

/* ########################### start find ################################ */
/* start find teacher */
.teacherParent {
  text-align: center;
}

.teacherParent1 {
  box-shadow: 1px 1px 8px -6px #1a6bb4;
  padding: 15px;
}

.teacherParentimg {
  position: relative;
  overflow: hidden;
}

.teacherParentimg .overlayteacherParent {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a6bb4cf;
  z-index: 555555;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.teacherParentimg img {
  width: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.teacherParentimg:hover img {
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}

.teacherParentimg:hover .overlayteacherParent {
  top: 0;
}

.teacherParentText {
  padding: 20px 0 0;
}

.teacherParentText h5 {
  text-transform: capitalize;
  color: #1a6bb4;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.teacherParentText h6 {
  color: rgb(246, 162, 51);
  letter-spacing: 1px;
}

/* start find teacher */

/* ########################### end find ################################ */

/* ########################### start profil ################################ */
.profileTeacher .textTeacher span {
  font-weight: 500;
  color: #f6a233;
  margin-bottom: 8px;
  display: inline-block;
}

.profileTeacher .textTeacher h2 {
  color: #2668a7;
  font-size: 45px;
  letter-spacing: 1px;
}

.profileTeacher .textTeacher h3 {
  font-size: 27px;
  color: #f6a233;
  margin-bottom: 30px;
  font-weight: 400;
}

.profileTeacher .textTeacher h3 span {
  width: 70px;
  height: 2px;
  background: #2668a7;
  margin-bottom: -6px;
  margin-right: -7px;
}

.profileTeacher .textTeacher p {
  color: #2668a7;
  font-size: 18px;
  line-height: 32px;
  padding: 10px;
  box-shadow: 1px 1px 8px -6px #1a6bb4;
  margin-bottom: 10px;
  border-radius: 5px;
}

.profileTeacher .textTeacher p:last-of-type {
  margin-bottom: 40px;
}

.profileTeacher .textTeacherBut {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileTeacherBut {
  display: flex;
  justify-content: space-between;
}

.profileTeacher .textTeacher button {
  background-color: #2668a7;
  border: 1px solid #2668a7;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  font-size: 15px;
  padding: 7px 14px;
  padding-right: 30px;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.profileTeacher .textTeacher button.primaryLast {
  padding: 7px 20px !important;
}

.profileTeacher .textTeacher button:hover {
  background-color: #f6a233;
  border: 1px solid #f6a233;
}

.profileTeacher .textTeacher button:hover span {
  background-color: #2668a7;
}

.profileTeacher .textTeacher button span {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #f6a233;
  top: -3px;
  right: -19px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
}

.profileTeacher .textTeacher button span i {
  color: #fff;
  font-size: 11px;
}

.profileTeacher .imageTeacher {
  position: relative;
  width: 100%;
  height: 100%;
}

.profileTeacher .imageTeacher img {
  border-radius: 8px;
  position: absolute;
  top: 20px;
  right: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  z-index: 5555555;
}

.profileTeacher .imageTeacher span:first-of-type {
  position: absolute;
  width: 152px;
  height: 291px;
  left: 34%;
  top: 1%;
  border-left: 8px solid #f6a233;
  border-top: 8px solid #f6a233;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.profileTeacher .imageTeacher span:last-of-type {
  position: absolute;
  width: 132px;
  height: 291px;
  right: 3%;
  top: 162px;
  background-color: #2668a7;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.teacherBut {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1180px) {
  .profileTeacher .imageTeacher span:first-of-type {
    left: 20%;
  }
}

@media (max-width: 1000px) {
  .profileTeacher .imageTeacher {
    margin-top: 20px;
  }

  .profileTeacher .imageTeacher img {
    width: 100%;
  }

  .profileTeacher .imageTeacher span:first-of-type {
    left: -3%;
  }

  .profileTeacher .imageTeacher span:last-of-type {
    bottom: -860px;
  }
}

@media (max-width: 750px) {
  .profileTeacher .imageTeacher span:last-of-type {
    bottom: -640px;
  }
}

@media (max-width: 560px) {

  .profileTeacher .imageTeacher span:first-of-type,
  .profileTeacher .imageTeacher span:last-of-type {
    display: none;
  }
}

/* start Profil teacher */

/* ########################### end profil ################################ */

/* ########################### start Contact ################################ */
.contactLeft,
.contactRight {
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
  padding: 35px;
  border-radius: 5px;
}

.contactLeft h3 {
  color: #1468b3;
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

.contactLeft p {
  color: #888;
  font-size: 17px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.contactLeft .form-control {
  margin-bottom: 35px !important;
}

.contactLeft .form-control::placeholder {
  color: #6c757d;
}

textarea {
  background: #f5f5f7 !important;
}

.form-check {
  font-size: 17px;
  color: #2c5f9e;
}

.form-check-input {
  margin-top: 6px;
}

.contactRightText h3 {
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-size: 28px;
  color: #2c5f9e;
}

.contactRightText p,
.contactRightText1 p {
  line-height: 36px !important;
  font-size: 16px !important;
  color: #888;
  margin-bottom: 20px;
}

.contactRight {
  height: 100%;
}

.contactRightText1 p {
  font-size: 15px;
}

.contactRightText1 h5 {
  font-size: 21px;
  color: #faae2b;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.contactRightText1 p i {
  color: #faae2b;
  margin-right: 6px;
  font-size: 17px;
}

.contactSoial {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  box-shadow: 1px 1px 8px -7px #1a6bb4;
}

.contactSoial a {
  width: 35px;
  height: 35px;
  background: #f00;
  text-align: center;
  line-height: 35px;
  border-radius: 4px;
}

.contactSoial a i {
  color: #fff;
}

.contactSoial .facebook {
  background: #446bb9 !important;
}

.contactSoial .twitter {
  background: #00aced !important;
}

.contactSoial .youtube {
  background: #f73434 !important;
}

.contactSoial .linkedin {
  background: #007bb6 !important;
}

.googleMap {
  margin: 90px 0 0;
}

.googleMap iframe {
  width: 100%;
}

@media (max-width: 600px) {
  .form-check {
    margin-bottom: 20px;
  }
}

/* ########################### end Contact ################################ */

/* ########################### start About ################################ */
.aboutUs {
  margin: 30px 0;
  padding: 10px 0;
}

.aboutUs .aboutImg img {
  width: 100%;
}

.aboutText {
  padding: 35px 0;
}

.aboutText h3 {
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #2c5f9e;
  margin-bottom: 25px;
}

.aboutText p {
  color: #888;
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 35px;
}

/* ########################### end About ################################ */
/* ########################### start Profil Student ################################ */
.navbarStuTop {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.navbarStuTop .logoNavStu img {
  width: 70px;
}

.navbarStuTop .avatarNavStu {
  text-align: right;
}

.student .navbarStuTop .avatarNavStu img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #2c5f9e;
}

.student .navbarStuTop .dropdown-menu.show {
  display: block;
  left: -110px !important;
  width: 270px !important;
}

.student .dropdownHead {
  display: flex;
  padding: 10px;
}

.student .dropdown-menu .dropdown-item {
  padding: 5px 20px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.student .dropdown-menu .dropdown-item:hover {
  color: #f6a233;
}

.dropdownHead img {
  width: 70px;
  height: 60px;
  margin-right: 10px;
  border: 2px solid #2c5f9e;
  padding: 3px;
  margin-top: 15px;
}

.student .dropdownHead .dropdownHeadText h5 {
  font-size: 16px;
  color: #f6a233;
}

.student .dropdownHead .dropdownHeadText h6 {
  color: #f6a233;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.avatarNavStu {
  position: relative;
}

.avatarNavStu .nav-link {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  border: 2px solid #3460BF;
  border-radius: 50%;
}

.avatarNavStu .dropdown-toggle::after {
  display: none;
}

.navbarStuBott {
  height: 60px;
  background-color: #2c5f9e;
}

.navbarStuBottChild {
  height: 60px;
}

.navbarStuBott ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding: 0;
}

.navbarStuBott ul li {
  padding: 10px;
  margin-left: -7px;
}

.navbarStuBott ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.contStudent .studentImg img {
  width: 100%;
}

.contStudent h3 {
  color: #2c5f9e;
  letter-spacing: 1px;
  margin: 30px 0;
  text-transform: capitalize;
}

.studentData {
  padding: 25px 30px;
  box-shadow: 1px 1px 8px -6px #1a6bb4;
  margin: 50px auto;
  width: 70%;
}

.newQuiz,
.oldQuez {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.newQuiz p,
.oldQuez p {
  background: #f6a233;
  padding: 15px;
  height: 47px;
  width: 47px;
  text-align: center;
  line-height: 17px;
  margin: 0;
  margin-right: 15px;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.oldQuez h6,
.newQuiz h6 {
  box-shadow: 1px 1px 8px -6px #1a6bb4;
  color: #2c5f9e;
  padding: 15px;
  text-align: center;
  line-height: 17px;
  margin: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.old:nth-of-type(odd) {
  background-color: #f8f8f8;
}

.old1 .old2 {
  align-items: center;
  cursor: pointer;
}

.oldResult {
  color: #f6a233;
  font-size: 18px;
  text-align: right;
}

.courses {
  margin: 40px 0;
}

.courseHead {
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.courseHead span {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 25px;
  border: 1px solid #888;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

#CheckVedio {
  font-size: 20px;
  position: absolute;
  top: -1px;
  color: #2c5f9e;
  opacity: 0;
}

.vedioActive #CheckVedio {
  opacity: 1;
}

.courses .course video {
  width: 100%;
  margin-bottom: -6px;
  height: 196px;
}

.course {
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
  margin: 16px 0;
}

.overlayCourse {
  position: absolute;
  left: 0;
  bottom: -1px;
  background: #00000091;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.overlayCourse i {
  color: #fff;
  margin: 0px 30px;
}

.overlayCourse p {
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.course .modal.show .modal-dialog {
  top: 25% !important;
}

.courseHead {
  padding: 13px 6px;
}

.courseHead .courseHeadLeft {
  display: flex;
  align-items: center;
}

.courseHead .courseHeadLeft img {
  width: 62px;
  height: 46px;
  border-radius: 4px;
  margin-right: 10px;
}

.courseHead .courseHeadLeft h5 {
  color: #2c5f9e;
}

.courseHead .courseHeadLeft h6 {
  color: #f6a233;
}

.pagiOldQuez ul {
  justify-content: center;
  margin-top: 40px;
}

.pagiOldQuez .page-link {
  color: #2c5f9e;
}

.contTeach {
  text-align: center;
}

.contTechFolder {
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  background-color: #fff;
  border-radius: 5px;
  padding: 2em .5em .5em .5em;
  overflow: hidden;
}

.contTechFolder:hover {
  background-color: #ddd;
  cursor: move;
}
.contTechFolder .addlesson__footer{
  margin-top: 1.5em;
}
.contTechFolder a i{
  font-size: 5em;
  margin-bottom: .2em;
  color: #2c5f9e;

}
.contTechFolder:hover .card--header input{
  z-index: 99999999999;
}
.contTechFolder:hover .card--header svg path{
color: #fff;
background-color: #fff;}

.contTechFolder h6 {
  color: #5d5656;
  font-size: 18px;
}

@media (max-width: 550px) {

  .newQuiz h6,
  .oldQuez h6 {
    line-height: 30px;
  }

  .oldResult {
    text-align: center;
  }

  .studentData {
    width: 90%;
  }
}

/* ########################### end Profil Student ################################ */
/* ########################### start teacher ################################ */
.search {
  width: 50%;
  position: relative;
}

.search input {
  border-radius: 52px;
  margin-top: 10px;
  padding: 1.2em 1.2em 1.2em 3em;
  outline: none;
}

.search input:focus {
  border: 1px solid rgb(197 47 47 / 3%);
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.232) !important;
}

.search input::placeholder {
  font-weight: 500;
  color: #98A5B7;
  font-family: "Comfortaa-Bold";
}

.search i {
  position: absolute;
  left: 1em;
  top: 15px;
  padding: 7px;
  color: #98A5B7;
  cursor: pointer;
}

.collapse {
  color: #98A5B7;
}

.collapse .Create button {
  color: #98A5B7;
  font-weight: 400;
}

.collapse .notification {
  position: relative;
  width: 2em;
  height: 1.2em;
}

.collapse .notification--bell {
  animation: bell 2.2s linear infinite;
  transform-origin: 50% 0%;
}

.collapse .notification .notification--bellClapper {
  animation: bellClapper 2.2s 0.1s linear infinite;
}

.collapse .notification .notification--num {
  position: absolute;
  top: -12%;
  left: 26%;
  font-size: .8rem;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  background-color: #C6342E;
  color: #ffffff;
  text-align: center;
  line-height: 1.45em;
}

.togCreate {
  color: #2c5f9e;
  font-weight: 500;
  margin-top: 5px;
}

.togCreate:hover {
  color: #2c5f9e;
}

.dropdown-itemLesspar {
  position: relative;
}

.dropdown-itemLesspar {
  position: relative;
}

.dropdown-itemLessChiled {
  background: #2c5f9e;
  list-style: none;
  padding: 10px 13px;
  border-radius: 5px;
  top: 37px;
  position: absolute;
  width: 199px;
  z-index: 888;
  display: none;
}

.dropdown-itemLesspar:hover .dropdown-itemLessChiled {
  display: block;
}

.dropdown-itemLessChiled li a {
  color: #fff;
  text-decoration: none;
}

.dropdown-itemLess {
  position: relative;
}

.dropdown-itemLess .btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
}

/* begin notification */
.notification .icon:hover{
  cursor: pointer;
}
.notification .notifications_menu {
  width: 350px;
  max-height: 25em;
  overflow-y: scroll;
  opacity: 0;
  position: absolute;
  top: 44px;
  right: 25px;
  border-radius: 5px 0px 5px 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
/*.notification .notifications_menu div:first-child{
  border-bottom: 1px solid #eee;

}*/
.notification .notifications_menu span {
  font-size: 14px;
  padding: 10px;
  color: #999;
  font-weight: bold;
}

.notification .notifications-item a{
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 6px 9px;
  margin-bottom: 0px;
  cursor: pointer
}

.notification .notifications-item:hover {
  background-color: #eee
}

.notification .notifications-item img {
  display: block;
  width: 50px;
  height: 40px;
  margin-right:2px;
  border-radius: 50%;
  margin-top: 2px
}

.notification .notifications-item .text h4 {
  color: #777;
  font-size: 16px;
  /*margin-top: 3px*/
}

.notification .notifications-item .text p {
  color: #aaa;
  font-size: 12px;
  margin-top: -5px;
}

.notification-list{
  padding-left: .5em !important;
  font-size: .9em;
}
.notification-list .notification-item{
  border-bottom: 1px solid #ddd;
  padding-top: 0.3em
}
.notification-list .notification-item:last-of-type{
  border-bottom: unset;
}
.notification-list .notification-details,.notification-list .notification-content {
  color: var(--gray);

}
.notification-list .notification-details strong {
  font-weight: bold;
}
.notification-footer a:hover{
  cursor: pointer ;
  color: var(--gray) !important;
}
/* End notification */
.dropdown-itemLesspar:hover .dropdown-itemLessChiled {
  display: block;
}

.dropdown-itemLess .btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
}

.student .navbarStuTop .dropTeach.show {
  left: -86px !important;
  top: 9px !important;
}

.Mylesson {
  min-height: calc(100vh - 120px);
}

.myLessoncont h3,
.myLessoncont1 {
  height: 64px;
  align-items: center;
  display: flex;
  padding: 20px;
  position: relative;
  font-size: 20px;
  color: #888;
  margin-bottom: 0;
  justify-content: space-between;
}

.myLessoncont1 button {
  background: #00a8ff;
  color: #fff;
  font-size: 17px;
  margin-top: 0;
  height: 40px;
  border-radius: 5px;
}

.myLessoncont1 .folder-btn {
  background-color: #ffffff;
  border: 1px solid #00a8ff;
  color: #00a8ff;
}

.myLessoncont1 .folder-btn:hover {
  background-color: #00aaff3e;
  color: #00a8ff;
  outline: hidden;
}

.myLessoncont1 .folder-btn,
.myLessoncont1 .folder-btn i {
  font-weight: 600;

}

.myLessoncont1 .lastbut:last-of-type {
  background-color: transparent;
  color: #2c5f9e;
}

.myLessoncont1 .lastbut i {
  margin-right: 5px;
}

.myLessoncont1 button:hover {
  color: #fff;
}

.myLessoncont .recent button {
  color: #98A5B7;
  border: 1px solid #98A5B7;
}

.myLessoncont .recent button:hover {
  opacity: .7;
}

.myLessoncont1 select {
  border-radius: 4px;
  background: #ffffff;
  border: solid 1px #b8c0c6c3;
  transition: border-color .5s ease;
  padding: .3em;
  color: #b8c0c6;
}

.sort {
  font-size: 16px;
  color: #b8c0c6;
}

.sort label {
  margin: 0;
  color: #b8c0c6;
}

.sort select {
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .15) !important;
  /* border: 1px soled #ddd; */
}

.sort select option {
  color: #8b9195;

}

.myLessoncont1 select:focus-visible {
  border: 1px solid #2c5f9e;
  color: #2c5f9e;
}

.lesson {
  padding: 10px 0px;
}

.lesson h3 {
  color: #2c5f9e;
  font-size: 25px;
  margin-bottom: 25px;
}

.lesson ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.lesson ul li {
  width: 20%;
  text-align: center;
  background-color: #8888884a;
  padding: 9px;
  color: #888;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.lesson ul li a {
  text-decoration: none;
  color: #888;
  width: 100%;
  display: block;
  height: 100%;
}

.lesson ul li:hover {
  background-color: #2c5f9e;
  color: #fff;
}

.lesson ul li:hover a {
  color: #fff;
}

.lesson ul li i {
  margin-right: 10px;
}

.dropTecher .dropdown-toggle::after {
  display: none;
}

@media (max-width: 750px) {
  .search {
    display: none;
  }
}

@media (max-width: 550px) {
  .lesson ul {
    display: block;
  }

  .lesson ul li {
    width: 100%;
    margin: 5px 0;
  }
}

/* ########################### end teacher ################################ */
/* ########################### start STYUDENT OR TEACHER ################################ */
.tuOrTEAcher {
  background-color: #f8f8f8;
  height: 100vh;
  position: relative;
}

.tuOrTEAcher .tuOrTEAcherChild {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  box-shadow: 1px 1px 8px -6px #1a6bb4;
  padding: 30px;
  justify-content: space-around;
}

.tuOrTEAcher .tuOrTEAcherChild div {
  box-shadow: 1px 1px 8px -6px #1a6bb4;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.tuOrTEAcher .tuOrTEAcherChild img {
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 20px;
}

.tuOrTEAcher .tuOrTEAcherChild h4 {
  color: #2c5f9e;
  letter-spacing: 1px;
  font-size: 20px;
}

/* ########################### end STYUDENT OR TEACHER################################ */
/* start overLayGlobal */
.overLayGlobal {
  background-image: url("./image/overlayGlobale.jpg");
  height: 500px;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
}

.overLayGlobalChild {
  background: #00000063;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overLayGlobaleText {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.overLayGlobaleText h3 {
  font-size: 40px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.overLayGlobaleText a {
  color: #fff !important;
  font-weight: 500;
}

.overLayGlobaleText a:hover {
  text-decoration: none;
}

.overLayGlobaleText span {
  width: 12px;
  height: 12px;
  background-color: #fff;
  display: inline-block;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin: 0 10px;
}

@media (max-width: 800px) {
  .overLayGlobaleText {
    left: 50%;
    text-align: center;
  }
}

/* end overLayGlobal */
/* start pop */
.popFolder .modal-dialog {
  position: relative;
  text-align: center;
  top: 15%;

}

.popFolder .modal-dialog .modal-content {
  position: absolute;
  background-color: #fff;
  padding: 10px 20px;
}

.IconCont {
  color: #2c5f9e;
  cursor: pointer;
  padding: 25px 0px;

}

.IconCont:hover {
  cursor: pointer;
  background-color: rgba(0, 168, 255, 0.2);
  border-color: #00a8ff;
}

.IconCont a {
  width: 100%;
}

.IconCont i {
  margin-bottom: 20px;
  font-size: 20px;
}

.IconCont h6 {
  color: #5d5656;
}

.dropped {
  position: static !important;
}

.folders a:hover,
.more {
  background-color: unset;
  opacity: .8;
}

.more {
  cursor: pointer;
  display: block;
  border: 0px;
  z-index: 10;
  border-radius: 5px;
}

.cus_dropdown .show {
  left: -88px;
}

.dropdown-menu a.cu_items {
  font-size: 15px !important;
  padding: 10px !important;
  margin: 10 !important;
  color: #2c5f9e !important;

}

.del {
  border: 2px solid #2c5f9e !important;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  /* Set the fixed height of the footer here */

}


li.dropdown-item,
.user-auth-dropdown li a {
  padding: 5px 20px;
}

.cus_btn_datatable {
  font-size: 15px !important;
  float: right !important;
}

tr.cus_table td {
  color: #111 !important;
  font-size: 14px;
  border-bottom: 1px solid #aaa;
}

tr.cus_table:hover {
  background-color: #ddd;
}

.modal .modal-dialog .modal-content {
  background-color: #fff;
}

.folder_elem a {

  font-size: 16px;
}

.folder_elem a i,
.folder_elem a svg {
  margin: 0px 10px !important;
}


/*
    DEMO STYLE
*/


.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.navbarStudent #sidebar .breadcrumb {
  background-color: inherit;
  border-radius: 0;
  color: #3166AD;
  border-bottom: 1.5px solid #F0B243;
  font-family: "Comfortaa-Bold";
  font-weight: 500;
  padding-bottom: 10px;
}

.navbarStudent .wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.navbarStudent #sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #F8FAFB;
  border: 1px solid #A7B2C1;
  color: #fff;
  transition: all 0.3s;
}

.navbarStudent #sidebar .sidebar_links li a {
  color: #98A5B7;

}

.navbarStudent #sidebar .collapse li a:hover {
  opacity: .7;
}

.navbarStudent #sidebar .collapse li a::before,
.navbarStudent #sidebar ul li.active>a::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 0.2em;
  padding: 0.2em 0 0;
  background: #98A5B7;
  /* background: #EFAC42; */
}

.navbarStudent #sidebar ul li.active>a::before {
  width: 1.4em;
  background: #EFAC42;
  color: #EFAC42;
}

.navbarStudent #sidebar ul li.active>a {
  color: #EFAC42;

}

.navbarStudent #sidebar.active {
  margin-left: -250px;
  color: #f8b739;
}

.navbarStudent #sidebar .sidebar-header {
  padding: 20px;
  /* background: #ffcc5c; */
}

.navbarStudent #sidebar ul.sidebar_links {
  padding: 20px 0;
}

.navbarStudent #sidebar ul p {
  color: #fff;
  padding: 10px;
}

.navbarStudent #sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;

}


.navbarStudent a[data-toggle="collapse"] {
  position: relative;
}

/* .navbarStudent .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

.navbarStudent ul ul a {
  font-size: 0.9em !important;
  /* padding-left: 30px !important; */
}

.navbarStudent ul ul a:hover {
  color: #f8b739;
}

.navbarStudent ul.CTAs {
  padding: 20px;
}

.navbarStudent ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

.navbarStudent a.download {
  background: #fff;
  color: #ffeead;
}

.navbarStudent a.article,
.navbarStudent a.article:hover {
  background: #ffcc5c !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: #F8FAFB;
}

#content .breadcrumb {
  border-bottom: 1px solid #98A5B7;
  background-color: #F8FAFB;
  font-family: "Comfortaa-Bold";
  border-radius: 0;
}

#content .breadcrumb .breadcrumb-item {
  color: #3166AD;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}

.ms-drop {
  height: 270px !important;
  overflow: auto !important;
}

.ms-parent {
  padding: 0px !important;
}

.ms-parent .ms-choice {
  height: 37px !important;
}

.ms-parent .ms-choice span {
  color: #000;
  padding: 6px 10px;
}

/* colorselector dropdown */
.dropdown-colorselector>.dropdown-menu {
  top: 80%;
  left: -7px;
  padding: 4px;
  min-width: 130px;
  max-width: 130px;
}

/*
.dropdown-colorselector>.dropdown-menu.pull-right {
  right: -7px;
  left: auto;
}
*/
.dropdown-colorselector>.dropdown-menu>li {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 2px;
}

.dropdown-colorselector>.dropdown-menu>li>.color-btn {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  position: relative;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.dropdown-colorselector>.dropdown-menu>li>.color-btn:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.dropdown-colorselector>.dropdown-menu>li>.color-btn.selected:after {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  font-size: 11px;
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 20px;
}

.btn-colorselector {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #DDD;
  vertical-align: middle;
  border-radius: 0;
}

.dropdown-menu.dropdown-caret:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px;
}

.dropdown-menu.dropdown-caret:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}

#colcss {
  height: 500px;
}

.avatarNavStu .dropdown-menu {
  position: absolute !important;
  float: right !important;
  right: 0 !important;
  left: unset !important;
  width: 310px !important;

}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 99%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty~label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin: 3px auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.funkyradio input[type="radio"]:empty~label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label:before {
  content: '\2714';
  text-indent: .9em;
  color: #777;
}

.funkyradio input[type="radio"]:checked~label {
  color: #777;
}

.funkyradio input[type="radio"]:checked~label:before {
  content: '\2714';
  text-indent: .9em;
  color: green;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus~label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked~label:before {
  color: green;
  background-color: #ccc;
}

/******************************** begin Create a live Lesson ********************************/
.Createlive__session {
  margin-top: 7em;
}
.Createlive__session button{ 
  background-color: var(--blue);
}
.Createlive__session .Create__lesson{
  width: 60%;
  margin: 0 auto;
  border: 1px solid rgba(221, 221, 221, 0.466);
  border-radius: .5em;
  padding: 2em 0;
  /* text-align: center; */
  box-shadow: var(--box-shadow);

}
.Createlive__session .Create__lesson .title,.Createlive__session .Create__lesson label{
  color: var(--blue);
  font-weight: bold;

}
.Createlive__session .Create__lesson p{
  color: var(--gray);
}
.Createlive__session .Create__lesson .class{
  padding-bottom: 1.2em;
  border-bottom: 2px solid #ddd;
}

.Createlive__session .Create__lesson .class select{
  box-shadow: var(--box-shadow);
  opacity: .7;
}
.Createlive__session .Create__lesson .class select option{
  color: var(--gray);
}
.Createlive__session .Create__lesson .date__time input{
  box-shadow: var(--box-shadow);
  opacity: .7;
}
/******************************** EndCreate a live Lesson ********************************/
.inner__breadcrumb {
  background-color: var(--blue);
  margin-top: 1.5em;
  border-radius: .5em;
}

.inner__breadcrumb li {
  font-weight: bold;
  color: #fff !important;
}

.inner__breadcrumb .breadcrumb-item img {
  width: 2em !important;
  margin-right: .8em;
}

.inner__breadcrumb .back button {
  color: var(--blue);
  padding: 0.3em 1.2em;
  border: 2px solid #98A5B7;
  border-radius: 0.4em;
  font-weight: bold;
  font-size: .9em;
}

.inner__breadcrumb .back button:focus {
  box-shadow: 0 0 0 0.07rem rgb(216 217 219 / 50%)
}

/* beggin sub__breadcrumb */
.sub__breadcrumb {
  margin-top: 2em;
  color: var(--gray);
  font-weight: 600;
  font-size: .9em;
}

.sub__breadcrumb .dropdown {
  border-radius: .5em;
}

.sub__breadcrumb .dropdown button {
  color: #98A5B7;
  border: 1px solid var(--gray);
  padding-top: .4em;
  padding-bottom: .4em;
  font-weight: 600;
}

.div_zoom{
  display: contents !important;
}

/************************ uplode ************************/
.uplode__page .nav-tabs .nav-link{
  background: none !important;
}
.uplode__page .drop-zone {
  max-width: 250px;
  height: 200px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 2px dashed var(--gray);
  border-radius: 10px;
}

.uplode__page .drop-zone--over {
  border-style: solid;
}
 .drop-zone__prompt .browse{
  color: var(--blue);
  font-weight: bold;
}
.nav-link{
  border-bottom: 1.5px solid  var(--gray);
}
.uplode__page .dropdown .btn-light ,.uplode__page .form-group input,.uplode__page .form-group textarea{
  box-shadow: var(--box-shadow);
  background-color: #fff !important;
  opacity: .8;
}
.uplode__page .form-group input::placeholder,.uplode__page .form-group textarea::placeholder{
  opacity: .5;
}
.uplode__page .dropdown .dropdown-toggle::before{
  content: "\f1cd";
  font-family:'FontAwesome';
  display: inline-block;
}
.uplode__page .drop-zone__input {
  display: none;
}

.uplode__page .drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.uplode__page .drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
/************************ uplode ************************/